@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #EE8021;
  border-radius: 10px;
  
}


  
  ul{
    text-decoration: none;
  }
  
  li{
    text-decoration: none;
  }
  
  a{
    text-decoration: none;
  }